
body {
  background-image: url('black.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

form{
    font-size: 30px;;
}

a{
    color: white;
}

.register-box{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

legend{
    font-size: 40px;
}